@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-family: monospace;
    overflow: auto;
}

h1 {
  color: yellow;
}

h3 {
  color: green;
}

input[type="text"],
button {
    padding: 5px;
}

button {
  color: blue;
  border: 5px inset chocolate;
  background-color: yellowgreen;
  font-family: 'Comic Neue', cursive;
  cursor: pointer;
}

button:hover {
  color: crimson;
  border: 5px outset dodgerblue;
  background-color: orchid;
}

input[type="text"] {
    width: 150px;
    text-align: center;
    border: 5px ridge blue;
    background-color: orange;
    color: green;
    font-family: 'Comic Neue', cursive;
}

input[type="text"]:hover {
  border: 5px ridge yellow;
  background-color: green;
  color: orange;
}

p {
    font-size: 24px;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

label {
    font-size: 24px;
    user-select: none;
    color: darkgreen;
}

#mapPanel,
#controlPanel {
    display: inline-block;
    vertical-align: top;
}

#mapPanel {
    margin-right: 30px;
}

#box {
    width: 500px;
    height: 400px;
    border: 3px solid black;
    position: relative;
    user-select: none;
}

.city {
    width: 15px;
    height: 15px;
    background-color: green;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
}

.cityName {
    background-color: pink;
    color: blue;
    line-height: 16px;
    position: absolute;
    font-family: monospace;
}

.city.selected {
    background-color: yellow;
}

.city.highlighted {
    background-color: orange;
}

.inputSection {
    margin-bottom: 20px;
}

.inputSection>div {
    margin-bottom: 15px;
}

#addCitySection {
    margin-bottom: 30px;
}

#city,
#addCityMessage,
#chooseMapMessage,
#losAngeles,
#sacramento {
    display: inline-block;
    vertical-align: middle;
}

#city {
    margin-right: 20px;
}

#addCityMessage,
#chooseMapMessage {
    margin: 0px;
    color: brown;
}

#chooseMapMessage {
    margin-right: 20px;
}

#losAngeles {
    margin-right: 10px;
}

#paths {
    margin-top: 20px;
    margin-bottom: 30px;
}

.path {
    max-width: 475px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
    font-family: monospace;
    color: black;
    display: block;
}

.path:last-child {
    margin-bottom: 0px;
}

.path.shortest {
    color: green;
    font-weight: bold;
    border: 5px ridge orange;
    text-align: center;
}

.path.hidden {
    display: none;
}
